<form>
  <label for="locale">First, select a target locale</label>
  <br>
  <XSelect name="locale" @value={{locale}} @on-change={{action (mut locale)}} @required={{true}} as |xs|>
    <xs.option @value="ar-AE">ar-AE</xs.option>
    <xs.option @value="en-GB">en-GB</xs.option>
    <xs.option @value="en-US">en-US</xs.option>
    <xs.option @value="es-ES">es-ES</xs.option>
    <xs.option @value="es-US">es-US</xs.option>
    <xs.option @value="hi-IN">hi-IN</xs.option>
    <xs.option @value="pt-BR">pt-BR</xs.option>
    <xs.option @value="pt-PT">pt-PT</xs.option>
    <xs.option @value="th-TH-u-nu-thai">th-TH</xs.option>
  </XSelect>
  <br>
  <!--<strong>English, United States</strong>-->
</form>

<!--
 (Arabic, U.A.E.)
(English, United Kingdom)
(English, United States)
(Spanish, Spain)
(Spanish, United States)
(Hindi, India)
(Portuguese, Brazil)
(Portuguese, Portugal)
(Thai, Thailand, Thai numbering system)
