<section class="cover-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="text-center">
          <img class="cover-image" src="illustration.svg" />
          <h1 class="cover-heading"><strong>Intl</strong> Now!</h1>
          <p class="cover-blurb">
            <strong>Intl</strong> is a native JavaScript API for international
            formatting.  You can use it right now in all modern browsers to format
            dates &amp; times, numbers, and currencies.
            Explore the Intl API, generate code, and learn more with this site.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{{outlet}}
