<section class="cover-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="text-center">
          <img class="cover-image" src="illustration.svg" />
          <h1 class="cover-heading"><strong>Intl</strong> Now!</h1>
          <p class="cover-blurb">
            <strong>Intl</strong> is a native JavaScript API for international
            formatting.  You can use it right now in all modern browsers to format
            dates &amp; times, numbers, and currencies.
            Explore the Intl API, generate code, and learn more with this site.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{{outlet}}

<footer class="site-footer text-center">
  This site is maintained by
  <a href="https://www.randallmorey.com" target="_blank">Randall Morey</a>.
  <br>
  Copyright &copy; 2019.
</footer>
