<section class="text-center">
  <div class="container">
    <IntlLocaleSelect @locale={{locale}} />
  </div>
</section>

<hr>

<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2>Format a Number</h2>
        <IntlNumberFormat @locale={{locale}} />
      </div>
    </div>
  </div>
</section>

<hr>

<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2>Format a Currency</h2>
        <IntlCurrencyFormat @locale={{locale}} />
      </div>
    </div>
  </div>
</section>

<hr>

<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2>Format Dates &amp; Times</h2>
        <IntlDatetimeFormat @locale={{locale}} />
      </div>
    </div>
  </div>
</section>


<hr>
<p class="text-center">
  <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl" target="_blank" rel="noopener">
    <big>There's lots more to learn in the Mozilla docs &rarr;</big>
  </a>
</p>
