<IntlLocaleSelect @locale={{locale}} />

<hr>

<h2>Numbers</h2>
<IntlNumberFormat @locale={{locale}} />

<hr>

<h2>Currencies</h2>
<IntlCurrencyFormat @locale={{locale}} />

<hr>

<h2>Dates &amp; Times</h2>
<IntlDatetimeFormat @locale={{locale}} />
